node_modules/

.DS_Store

.next/
dist/
coverage/
apps/api/uploads/
apps/infra/cdk.out/
apps/infra/cdk.context.json

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.last-run.json
uploads/